footer{
	background: #ffffff;
	padding: 15px 0;
	bottom: 0px;
	box-shadow: 0px 0px 25px #e2e1e1;
}

footer .foo-time{
	color: #606165;
    font-family: "Segoe UI";
    font-size: 18px;
    margin-left: 30px;
    display: block;
}

footer .foo-logo{
	width: 182px;
    filter: grayscale(100%);
    opacity: 0.5;
    display: block;
    margin: 15px auto 0;
}

footer .foo-border{
	border-left: 2px solid #cccccc;
}

.m-b-100{
    margin-bottom: 100px;
}