html, body {
    background-color: #f7f7f7;
}

/* Main Frames */
/*.header_div {
    width: 100%;
    height: 96px;
    position: absolute;
    top: 0px;

    background-color: #FFF;
    text-align: center;
}
.footer_div {
    width: 100%;
    height: 96px;
    position: fixed;
    bottom: 0px;

    background-color: #FFF;
    box-shadow: 0px 0px 25px #e2e1e1;
}
.content_wrapper {
    width: 100%;
    margin-top: 96px;
    padding: 49px 49px 0px 49px;
    background: #f7f7f7;
}
.standart_table {
    width: 100%;
    border: none;
    cellpadding: 0px;
    cellspacing: 0px;
}
.menu_table {
    margin-bottom: 18px;
}
.top_elva_logo {
    margin-left: 32px;
    width: 214px;
}
.footer_logo {
    width: 182px;
    filter: grayscale(100%);
}
.footer_time {
    color: #606165;
    font-family: "Segoe UI";
    font-size: 18px;
}*/
/* ----------- */

/* Menu Items */
/*.menu_item {
    color: #6c6f73;
    font-size: 22px;
    cursor: pointer;
}
.menu_item a {
    color: #6c6f73;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}
.menu_item a:visited {
    color: #6c6f73;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}
.menu_item a:hover {
    color: #0fb1f2;
}
.menu_item_active a {
    color: #0fb1f2 !important;
}
.notice_dot {
    width: 8px;
    height: 8px;
    background-color: #d60f24;
    position: absolute;
    border-radius: 4px;
    float: left;
}*/
/* ---------- */

/*.user_title {
    font-size: 18px;
}
.user_info_div {
    margin-bottom: 18px;
    margin-right: 49px;
    color: #6c6f73;
}

/* Utility styles */
/*.hide {
    display: none;
}
.show {
    display: block;
}
.pointer {
    cursor: pointer;
}
.position_centered {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}*/
/* -------------- */