@font-face {
	font-family: 'home';
	src: url('../fonts/home.eot');
	src: url('../fonts/home.eot?#iefix') format('embedded-opentype'),
	url('../fonts/home.woff') format('woff'),
	url('../fonts/home.ttf') format('truetype'),
	url('../fonts/home.svg#home') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
	font-family: 'home';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-plussign:before{
	content:'\0041';
	color: white;
	background-color: #71d0f8;
	border: 1px solid darkgrey;
	border-radius: 100%;
	font-size: 100px;
	padding: 0px;
	margin: 30%;
	margin-left: 35%;
	cursor: pointer;
}
.add_widget_content{
	text-align: center;
}
.add_widget{
	background-color: #dedede;
}

.column-50 {
	width: 50%;
	float: left;
	padding-bottom: 100px;
}
.column-100 {
	width: 100%;
	float: left;
}
.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
	overflow: auto;
	resize: vertical;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -8px;
	cursor: pointer;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}
.ui-widget-header{
	background-color: #3FBFF5 !important;
	color: white;
	padding: 10px;
}
.container{
	margin-top: 50px;
}
.current_timepunch_filter{
	border-bottom: 1px solid darkgrey;
	color: darkgrey;
	font-size: 20px;
}
body > div > div.container.ng-scope > div > div.column-100.ui-sortable > div > div.portlet-content > div.form-row.current_timepunch_filter > div.col-4 > label{
	position: absolute;
	right: 10px;
}
nav{
	width: 100%;
}
body > div > div.container.ng-scope > div > div.column-100.ui-sortable > div > div.portlet-content > div.col-12.form-row > nav > ul > li > div:nth-child(1) > span {
	font-size: 20px;
	color: #3FBFF5;
}
body > div > div.container.ng-scope > div > div.column-100.ui-sortable > div > div.portlet-content > div.col-12.form-row > nav > ul > li > div:nth-child(3){
	text-align: center;
}
body > div > div.container.ng-scope > div > div.column-100.ui-sortable > div > div.portlet-content > div.col-12.form-row > nav > ul > li > div:nth-child(3) >  span{
	font-size: 20px;
	color: darkgrey;
	position: absolute;
}
nav > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
}
body > div > div.container.ng-scope > div > div.column-100.ui-sortable > div > div.portlet-content > div.col-12.form-row{
	padding: 0px;
	margin: 0px;

}
.nav_current_timepunch{
	height: 400px;
	overflow-x: hidden;
	margin-bottom: 20px;
}
ul{
	padding: 0px;
	list-style: none;
}
.progress_bar{
	height: 7px;
}
.progress{
	background-color: white;
	color: darkgrey;
	border-radius: 0px !important; ;
}
.bg-elva{
	background-color: #3FBFF5;
}
.bg-darkgray{
	background-color: darkgrey;
}
.text-elva{
	list-style: none;
	color: #3fbff5 !important;
}
.text-20{
	font-size: 20px;
}
.bg-elva-collapse{
	background-color: #dedede;
}
.bg-white{
	background-color: #FFFFFF !important;
}
.bg-lunch{
	background-color: #ff93fe;
}
.portlet-border{
	padding: 1rem;
	border: solid 1px lightgray;
}
.note{
	padding: 1rem;
}
.notes{
	max-height: 300px;
	position: relative;
	overflow: auto;
}
.portlet-note-toggle {
	position: absolute;
	right: 18px;
	cursor: pointer;
}
.progress-bar{
	height: 5px;
	color: darkgrey;
	font-size: 14px;
}
.d-contents{
	display: contents !important;
}
.employee_scroll{
	height: 400px;
	overflow: auto;
}
.click_next_schedule,click_schedule{
	cursor: pointer;
}

.notes::-webkit-scrollbar,.employee_scroll::-webkit-scrollbar, .nav_current_timepunch::-webkit-scrollbar {
	width: 7px;
}
.notes::-webkit-scrollbar-button, .employee_scroll::-webkit-scrollbar-button , .nav_current_timepunch::-webkit-scrollbar-button {
	background: #eee
}
.notes::-webkit-scrollbar-track-piece, .employee_scroll::-webkit-scrollbar-track-piece, .nav_current_timepunch::-webkit-scrollbar-track-piece {
	background: #eee
}
.notes::-webkit-scrollbar-thumb, .employee_scroll::-webkit-scrollbar-thumb , .nav_current_timepunch::-webkit-scrollbar-thumb {
	background: lightgray;
}
​



