body{
	margin: 0;
}

.pin_table{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:1px solid #f1f1f1;
	border-radius:5px;
	overflow: hidden;
}

.pin_code_title{
	padding: 15px;
	background:#f8d7da;
	color:#721c24;
}

.p-10{
	padding: 10px;
}

.user-interface{
	width: 300px;
	border:1px solid #ccc;
	margin: 0 auto;
}

.modal-update{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.modal-update .message{
	width: 300px;
	padding: 40px 20px;
	border-radius:5px;
	border:1px solid #ccc;
	color:#fff;
	margin: 30px auto;
}

.success{
	background: green;
}

.error{
	background-color: darkred;
}