.req-st {
    padding-bottom: 80px;
}

.req-st .menu{
    height:400px;
    margin: 20px 0;
    padding-top: 50px;
}

.req-st .menu-list {
    width: 140px;
}

.req-st ul {
    list-style-type: none;
}

.req-st .menu a{
    color:#b9babd;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 1px 1px 1px 10px;
}

.req-st .menu a:hover {
    background-color: #e8e6e5;
    color: #3fbff5;
}

.req-st .menu .in-sent .active {
    background-color: #3FBFF5 !important;
    color: #fff;
}

.req-st .menu .active {
    background-color: #e7e5e4 !important;
    color: #3fbff5;
}

.req-st .menu a .icon-danger-trangle {
    color: #E45771;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0;
}

.req-st .menu a .icon-danger-trangle:before {
    position: absolute;
    margin-top: -13px;
    margin-left: 5px;
}


.req-st .menu .in-sent {
    padding-bottom: 5px;
    color: #ffffff;
    display: flex;
}

.req-st .menu .in-sent span {
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 65%;
    text-align: center;
    background-color: #CFD1D3;
    color: #888888;
}

.req-st .menu .in-sent span a:hover, .req-st .menu .in-sent span .active {
    background-color: #70CFF7;
}

.menu-list > .in-sent a:hover {
    background-color: #3FBFF5;
    color: #FFFFFF;
}

.menu-list > .in-sent a {
    font-size: 17px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 50%;
    background-color: #E7E5E4;
}

.table-view {
    padding-top: 70px;
}

.cursor-pointer {
    cursor: pointer;
}

/* icons */
.icon {
    font-size: 16px;
    height: 38px;
    width: 28px;
    padding: 5px 5px 5px 5px;
}
.message-row > li:nth-child(5) .icon-danger-trangle {
    color: #E45771;
    margin-top: 20%;
    float: right;
}
.icon-success {
    color: #8CD36B;
}
.icon-disabled {
    color: #A8A9AD !important;
}
.icon-cancel {
    font-size: 16px;
    color: #DD4561;
}
.icon-edit {
    color: #FDD448;
}
.icon-message {
    color: #58C8F6;
}
.icon-arrow {
    color: #3fbff5;
}
/* end icons */

/* messenger list */
.messenger-list .message-row {
    background-color: #E7E5E4;
    width: 100%;
    height: 55px;
    padding: 0;
    overflow: hidden;
}

.message-row > li {
    float: left;
    height: 40px;
    margin-top: 8px;
    border-left: solid 1px #bfbebe;
}

/* username */
.message-row > li:nth-child(1) {
    color: #3FBFF5;
    margin-top: 9px;
    border: none;
    padding: 0% 2% 0% 1%;
}

.message-row > li:nth-child(1) span {
    font-size: 24px;
    display: inline-block;
    font-weight: 500;
}
/* end username */

/* clock in */
.message-row > li:nth-child(2) {
    font-size: 19px;
    padding: 0% 2% 0% 2%;
    color: #808184;
    border-right: solid 1px #bfbebe;
}

.message-row > li:nth-child(2) .icon.icon-arrow {
    font-size: 25px;
    padding-left: 2px;
    display: inline-table;
}

.icon-arrow:before {
    position: absolute;
    margin-top: -19.3px;
}

.message-row > li:nth-child(2) span {
    font-size: 20px;
    margin-top: 2px;
    display: inline-block;
    font-weight: 400;
}

/* end clock in */

.message-row > li:nth-child(3) {
    padding: 0% 1% 0% 1%;
    font-size: 20px;
    color: #6d6e70;
    font-weight: 400;
    float: right;
}

.message-row > li:nth-child(3) span {
    float: right;
    margin-top: 5px;
}

.message-row > li:nth-child(4) {
    padding: 0% 1% 0% 1%;
    float: right;
}

.message-row > li:nth-child(4) span {
    margin-top: 10px;
    display: block;
}

.message-row > li:nth-child(5) {
    padding: 0% 1% 0% 0%;
    float: right;
    border: none;
}

.message-row > .message-active, .messenger-list > .message-agree, .messenger-list > .message-rejected {
    float: left;
}
/* end messenger list */

/* messenger list colors */
.message-active {
    border-left: 10px solid #3FBFF5 !important;
}

.message-rejected {
    border-left: 10px solid #F5627D !important;
}

.message-agree {
    border-left: 10px solid #8DCC73 !important;
}
/* end messenger list colors */

/* messenger chat */

/* message and chat bar */
.message-chat {
    background-color: #ffffff;
    height: 330px;
    overflow-y: hidden;
    padding-left: 1px;
    box-shadow: 7px -1px 27px #c7c7c7;
}
.message-chat-comments {
    padding: 5px 0px 5px 15px;
    overflow-y: scroll;
    height: 240px;
}
/* end message and chat bar */

/* */
.message-chat li {
    padding-top: 15px;
}
/* */

/* username */
.message-chat li span:nth-child(1) {
    color: #6d6e70;
    width: 70px;
    font-size: 17px;
    text-align: right;
    display: inline-block;
}
/* username  */

/* comment */
.message-chat li .your-comment {
    background-color: #D0D1D4 !important;
}
.message-chat li span:nth-child(2) {
    background-color: #3fbff5;
    margin-left: 15px;
    padding: 3px 12% 3px 12px;
    display: inline-block;
    max-width: 70%;
    color: white;
}

.message-chat li.approve .your-comment {
    background-color: white !important;
    padding: 3px 12% 7px 0px !important;
    color: #759D56;
}
.message-chat li.denied .your-comment {
    background-color: white !important;
    padding: 3px 12% 7px 0px !important;
    color: #D82F4E;
}
/* end comment */

/* time and date*/
.message-chat li span:nth-child(3) {
    float: right;
    color: #888888;
    margin-right: 7%;
}
/* end time and data */

/* chat textarea */

.message-chat .message-chat-textarea {
    display: inline-block;
    padding-top: 0;
    margin-bottom: 10px;
    margin-left: 7%
}

.message-chat .message-chat-textarea textarea {
    width: calc(72vw - 55%);;
    resize: none;
    height: 60px;
    border-top: solid 3px #e6e5e3;
    border-bottom: solid 3px #e6e5e3;
    border-left: solid 2px #e6e5e3;
    border-right: solid 2px #e6e5e3;
}

/* chat user list */

.message-user-list {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #E5E6E7;
    padding-top: 5px !important;
    padding-bottom: 10px;
    margin: 0;
}

.message-user-list ul {
    margin-left: 15px;
    padding: 0;
}

.message-user-list ul li {
    float: left;
    padding-left: 10px;
    font-size: 15px;
    color: #808184;
    padding-top: 5px;
}

/* end chat user list */

/* chat textarea send */

.message-chat .message-chat-send {
    display: inline-block;
    color: #3fbff5;
    margin-top: 0.4%;
    margin-right: 2%;
    float: right;
    font-size: 38px;
    cursor: pointer;
}
.message-chat .message-chat-send .icon-send {
    display: table-row;
}

/* end chat textarea send */

/* end chat textarea /*/

/* end messenger chat */

/* pagination */
.pagination {
    float: right;
    margin-top: -40px;
}
.pagination-list {
    padding: 0;
}

.pagination-list li a {
    color: #6d6e70;
    text-decoration: none;
    transition: 0.3s;
}

.pagination-list li {
    float: left;
    padding: 0px 2px;
    font-weight: 500;
    color: #6d6e70;
    transition: 0.2s

}

.pagination-list li.active, .pagination-list li a:hover {
    color: #3fbff5;
}

/* modal */
#certain-modal > .modal-dialog {
    top: 25%;
}
#certain-modal > .modal-dialog > .modal-content {
    width: 75%;
    text-align: center;
    padding: 2%;
    box-shadow: 3px 2px 16px 2px grey;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#certain-modal > .modal-dialog > .modal-content .editTime-errors {
    padding: 0;
    font-size: 13px;
    color: red;
}
#certain-modal > .modal-dialog > .modal-content p {
    padding: 0% 7% 0% 7%;
    font-size: 22px;
    font-weight: 500;
    color: #6b6b6b;
}
.certainModalBody {
    font-size: 18px;
    text-align: center;
    padding: 0;
}
.certainModalBody > .btn.btn-secondary {
    border: none;
    width: 45%;
    margin: 1%;
    border-radius: 0;
    background-color: #D92F4E;
}
.certainModalBody > .btn.btn-primary {
    border: none;
    width: 45%;
    margin: 1%;
    border-radius: 0;
    background-color: #74DDFF;
}
.certainModalBody > .btn:hover {
    font-size: 18px;
    height: 36px;
    -webkit-transition: 0.3s time;
    -moz-transition: 0.3s time;
    -ms-transition: 0.3s time;
    -o-transition: 0.3s time;
    transition: 0.3s time;
}
.modal-open .modal {
    background-color: #ffffff7d;
}
.certainModalBody > .changeTime > div label {
    font-size: 22px;
    font-weight: 500;
    color: #6b6b6b;
    font-family: 'Segoe UI';
}
.certainModalBody > .changeTime > div #editTime {
    margin: 10px 5px 10px 0px;
    text-align: center;
}
/* end modal */

.empty-page {
    text-align: center;
    font-size: 26px;
    color: #3fbff5;
    opacity: 0.7;
    width: 90%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D0D1D4;
}

::-webkit-scrollbar-thumb {
    background: #D0D1D4;
    -webkit-box-shadow: inset 0 0 6px #D0D1D4;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #D0D1D4;
}

@media (max-width: 1170px ) {
    .req-st .menu a {
        font-size: 15px;
        padding: 0px 1px 0px 10px;
    }
    .message-row > li:nth-child(5) .icon-danger-trangle {
        margin-top: 25%;
    }

    .menu-list > .in-sent a {
        font-size: 13px;
        padding: 1px 11px 1px 8px;
    }

    .message-active {
        border-left: 5px solid #3FBFF5 !important;
    }

    .message-rejected {
        border-left: 5px solid #F5627D !important;
    }

    .message-agree {
        border-left: 5px solid #8DCC73 !important;
    }

    .req-st .menu a .icon-danger-trangle:before {
        margin-top: -12.5px
    }
    .message-chat li span:nth-child(3) {
        font-size: 10px;
        margin-right: 9%;
        margin-top: 7px;
    }
    .message-chat li {
        padding-top: 2px;
    }
    .message-chat li span:nth-child(1) {
        font-size: 10px;
        width: 55px;
        margin-left: -4%;
    }
    .message-chat .message-chat-textarea {
        width: 85%;
        margin-bottom: 5px;
        margin-left: 6%;
        padding-top: 5px;
    }
    .message-chat .message-chat-textarea textarea {
        width: 100%;
        height: 45px;
    }
    .message-chat {
        height: 190px;
    }
    .messenger-list .message-row {
        height: 30px;
    }
    .message-row > li:nth-child(1) {
        margin-top: 1px;
    }
    .message-row > li:nth-child(1) span {
        font-size: 13px;
        display: inline-block;
        margin-top: 0px;
         font-weight: 400;
    }
    .message-row > li:nth-child(2) {
        font-size: 13px;
    }
    .message-row > li:nth-child(2) .icon.icon-arrow {
        font-size: 19px;
    }
    .message-row > li:nth-child(4) span {
        margin-top: 0px;
    }
    .message-row > li:nth-child(2) span {
        margin-top: 0px;
        display: inline-block;
        font-size: 12px;
    }
    .message-row > li:nth-child(5) {
        margin-top: -3px;
    }
    .icon-arrow:before {
        margin-top: -12px;
        font-size: 15px;
        margin-left: 4px;
    }
    .message-row > li:nth-child(3) span {
        font-size: 12px;
        margin-top: 2px;
        font-weight: 300;
    }
    .message-chat li span:nth-child(2) {
        font-size: 10px;
        padding: 3px 5% 3px 13px;
        margin-left: 0px;
    }
    .message-row > li {
        height: 20px;
        margin-top: 5px;
    }
    .req-st .menu-list {
        width: 100%;
    }
    .icon {
        padding: 4px 4px 5px 4px;
        font-size: 14px;
    }
    .message-chat .message-chat-send .icon-send {
        font-size: 25px;
    }
    .message-chat .message-chat-send .icon-send:before {
        margin-top: 10px;
    }
    .pagination-list li {
        font-size: 12px;
        font-weight: 400;
    }
    .pagination {
        margin-top: -30px;
    }
    .req-st ul {
        margin-bottom: 10px;
    }
    /* chat user list */

    .message-user-list {
        width: 100%;
        display: flex;
        border-bottom: 2px solid #E5E6E7;
        padding-top: 0 !important;
        padding-bottom: 5px;
        margin: 0;
    }

    .message-chat-comments {
        height: 130px;
    }

    .message-user-list ul {
        margin-left: 0px;
        padding: 0;
        margin-bottom: 0;
    }

    .message-user-list ul li {
        float: left;
        padding-left: 10px;
        font-size: 10px !important;
        color: #808184;
    }

    .empty-page {
        font-size: 18px;
    }

    /* end chat user list */
}

@media (min-width: 768px) {
    .col-md-2 {
        max-width: 13.666667%;
    }
    .req-st .menu {
        padding-right: 0;
    }
}

@media (min-width: 950px) {
    .container-build {
        width:98%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}