
.settings{
     margin-bottom: 100px;
 }
.list-group{
    list-style: none;
    display: contents;
}
.list-group li {
    padding: 1px 20px;
    float: left;
}
.list-group li a{
    font-size: 20px;
    color: darkgray;
}
.list-group li:nth-child(1),.list-group li:nth-child(2){
    list-style-position:inside !important;
    border-right: 2px solid #c9dff7 !important;
}
.nav{
    margin-left: 30%;
    margin-top: 50px;
}
.active{
    color: #3FBFF5 !important;
}

/*personal*/

#personal > div:nth-child(1) > div:nth-child(2){
    text-align: right;
}
#personal > div:nth-child(1){
    margin-top: 60px;
    color: #3FBFF5 !important;
    font-size: 25px;
}
body > div > div.container > div:nth-child(3){
    margin-top: 60px;
}
body > div > div.container > div:nth-child(3) > div:nth-child(1) > div > div{
    margin: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3FBFF5 !important;
    background-color: transparent !important;
    border: none !important;
}
#image,#image_group_setting{
    cursor: pointer;
    text-align: center;
    color: #3FBFF5 !important;
    font-size: 20px;
    width: 300px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div {
   padding: 20px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > p{
    margin-top: 30px;
    margin-bottom: 10px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div{
    margin: 5px;
}

#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div{
    font-size: 20px;
    color: darkgray;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > div.col-sm-12{
    text-align: right;
}
#pswsubmit{
    background-color: #8befff;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80px;
}
#personal > div:nth-child(2) > div:nth-child(3) > div{
    padding: 20px;
    color: darkgray;
    font-size: 20px;
}
#upload_image,#upload_logo_image,#upload_image_group_setting{
    display: none;
}

#logo_image{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
}
#delete_image,#delete_image_group_setting{
    color: red !important;
    cursor: pointer;
    font-size: 20px;
}
#image_content{
    padding: 100px;
}
#image_content_group_setting{
    padding: 100px;
    padding-left: 50px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > p{
    color: #3FBFF5 !important;
    font-size: 25px;
    margin-top: 75px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2) > div{
    color: darkgray;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div.card.col-7 > img{
    padding: 15px 0px 15px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div.card > div{
    padding: 10px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div.card > div > div{
    padding-bottom: 5px;
}
#personal > div:nth-child(2) > div:nth-child(1) > div > div.card > div > div.col-sm-12{
    text-align: right;
}
.fa-check{
    color: green;
}
#personal > div:nth-child(2) > div.col-5 > div > div.card > div{
    color: darkgray;
    font-size: 20px;
}
#personal > div:nth-child(2) > div.col-lg-6.d-none.d-lg-none.d-sm-block{
    font-size: 25px;
    padding: 20px;
}

/*/////////////*/

/*quick-timepunch*/

.settings_logo{
    width: 70px;
    height: 70px;
    border: 3px solid darkgray;
    border-radius: 50%;
    cursor: pointer;
}
.fa-plus{
    margin: 35%;
    color: darkgray;
    font-size: 25px;
}
#quick-timepunch > div > div:nth-child(1){
    color: darkgray;
    font-size: 20px;
    padding: 20px;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(2) > div{
    text-align: center;
    padding: 15px;
    margin: 5px;
}
#quick-timepunch > div > div.col-12.row > div.col-5.row{
    padding: 10px;
}
#quick-timepunch > div > div.col-12.row > div.col-12.row > div > div.col-2{
    text-align: center;
}
#color_values{
    width: 30px;
    height: 20px;
    margin-left: 20px;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4) > div.col-7.row > div.col-4 > span{
    margin-left: 20px;
}
#quick-timepunch > div{
    color: darkgray;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4) > div.col-5 > div{
    position: absolute;
    right: 0px;
}
#quick-timepunch > div > div.col-12.row > div.col-5.row{
    text-align: right;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4){
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4) > div.col-7.row > div{
    padding-bottom: 20px;
}
#jamp_url{
    width: 100%;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4) > div.col-7.row > div.col-12.row > div.col-4 > i{
    color: #3FBFF5;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(4) > div.col-7.row > div.col-12.row > div.col-4{
    cursor: pointer;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(1){
    font-size: 22px;
    padding: 10px 10px;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(3) > div{
    text-align: center;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(4){
    font-size: 22px;
    padding: 10px 10px;
}

#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(5) > div,
#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(6) > div{
    text-align: center;
}
.fade:not(.show) {
    display: none;
}
#quick-timepunch > div > div.col-12.row > div:nth-child(5) > div:nth-child(5) > div > a > img{
    min-height: 240px;
    min-width: 200px;
}
#timezone-offset{
    width: 120px;
}
#quick-timepunch > div > div.col-12.row > div.col-2 > div > span{
    color: white;
    font-size: 14px;
    margin-top: 30%;
    margin-left: 10%;
    position: absolute;
    display: none;
}
#quick-timepunch > div > div.col-12.row > div.col-2 > div{
    position: relative;
}


/*Users And Groups*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
    font-size: 20px;


}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active{
    transform: scale(1.1);
    background-color: #dee2e6;
}

.menu{
    display: grid;
}
#users-groups > div > div.col-3 > div > a.hvr-grow{
    color: darkgray;
}
h3{
    color: darkgray;
}
.creat_group{
    color: #71d0f8 !important;
}
#users-groups > div > div.col-9.row{
    font-size: 18px;
    color: darkgray;
}
#users-groups{
    padding: 20px;
    margin-top: 50px;
}
@font-face {
    font-family: 'settings';
    src: url('../fonts/settings.eot');
    src: url('../fonts/settings.eot?#iefix') format('embedded-opentype'),
    url('../fonts/settings.woff') format('woff'),
    url('../fonts/settings.ttf') format('truetype'),
    url('../fonts/settings.svg#settings') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'settings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-activate:before{content:'\0041'; color: #7dd154}
.icon-plussign:before{
    content:'\0042';
    color: white;
    background-color: #71d0f8;
    border: 1px solid darkgrey;
    border-radius: 50%;
}
.icon-usercreat:before{content:'\0043'; color: #71d0f8}
.icon-usercreat1:before{content:'\0043'; color: white}
.icon-deactivate:before{content:'\0044'; color: red}

#users-groups > div > div.col-9.row > div > span{
    cursor: pointer;
}
.table td, .table th{
    border-top: none;
}
table{
    color: #656565b3 !important;
    font-size:1rem;
}
.table tfoot th {
    vertical-align: bottom;
    border-top: 2px solid #dee2e6;
}
.table tfoot th span {
    color: #3FBFF5;
}
#users-groups > div > div.col-9.row > div.col-12 > table > tbody > tr > th{
    text-align: center;
}
#users-groups > div > div.col-3{
    padding-top: 40px;
}
#select_all,
#Select_All_Users,
#users-groups > div.row > div.col-9.row > div.col-12 > table > tbody > tr{
    cursor: pointer;
}
#select_all_input,
#select_all_input_users{
    display: none;
}
svg {
    fill: currentColor;
}
a.icon-plussign{
    margin-top: 10px;
    cursor: pointer;
}
.modal-header, .btn-save{
    background-color: #3FBFF5;
    color: white;
}
.btn-save:hover{
    color: white;
}
.chosen-container-multi .chosen-choices{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s
}
#add_position{
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 5px;
    color: #3FBFF5;
}
#add_position span{
    color: #3FBFF5;
    font-size: 34px;
    font-weight: bolder;
}
.modal-body{
    color: darkgray;
}
#add_position > b{
    font-size: 18px;
}
#CreateGroupModal > div > div > div.modal-header > h4{
    margin-left: 35%;
}
#CreateGroupModal > div > div > div.modal-body > div{
    text-align: center;
}
#GroupName{
    width: 80% !important;
    display: initial !important;
}
#filter,input[type="search"]:focus{
    border: none !important;
}
#live-search > fieldset{
    border: 2px solid #ced4da;
    border-radius: .2rem;
    margin: 20px;
}
.list-group li.border-none{
    border:0 !important;
}
input[type="search"]:focus {
    border-color: white;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 2px white;
    outline: 0 none;
}
.w-90{
    width: 90% !important;
}
.form-inline{
    display: inline;
}
#CreateGroupModal > div.modal-md{
    max-width: 700px;
}
#CreateGroupModal > div > div > div.modal-body{
    padding-left: 130px;
    padding-right: 130px;
}
#CreateGroupModal > div > div > div.modal-footer{
    text-align: center;
    display: initial !important;
    border-top: 2px solid #ccc;
    width: 340px;
    margin-left: 25%;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul{
    list-style: none;
    color: black;
}
#CreateGroupModal > div > div > div.modal-body > div > nav{
    height: 300px;
    overflow: auto;
    width: 100%;
    margin-left: -25px;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li > span > img{
    border-radius: 50%;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 2px 2px 3px #ccc;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li > button > i{
    margin: 0;
    color: white;
    font-size: small;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li{
    position: relative;
    margin: 10px;
    padding-bottom: 60px;
    border-bottom: 1px solid lightgray;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li > span{
    position: absolute;
    left: 0px;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li> button,
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li >div{
    position: absolute;
    right: 0px;
    margin-top: 10px;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li > span > span{
    margin-left: 20px;
}
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li >div,
#CreateGroupModal > div > div > div.modal-body > div > nav > ul > li >div >i.fa-check,
#GroupSettingsModal > div > div > div.modal-body > div > div:nth-child(3) > div:nth-child(1) > span,
#GroupSettingsModal > div > div > div.modal-body > div > div:nth-child(3) > div:nth-child(2) > span{
    color: #3FBFF5;
}
#AdduserModal > div > div > div.modal-header > input{
    margin-right: 300px;
}
#AdduserModal > div > div > div.modal-body > nav > ul > li{
    position: relative;
    font-size: large;
    color: #3FBFF5;
}
#AdduserModal > div > div > div.modal-body > nav > ul > li> input{
    position: absolute;
    right: 10px;
}
#GroupSettingsModal > div > div > div.modal-header{
    background-color: white;
    color: darkgray;
    border-bottom: none;
}
#GroupSettingsModal > div > div > div.modal-header > button{
    color: red;
    font-size: 40px;
    font-weight: 900;
    margin: -1rem 0rem 0rem auto;
    padding: 0px;
}
#GroupSettingsModal > div > div > div.modal-footer{
    border-top: none;
}
#GroupSettingsModal > div > div > div.modal-body > div{
    flex-direction: initial;
}
#GroupSettingsModal > div > div > div.modal-body > div > div> div > span{
    right: 10px;
    position: absolute;
}
#GroupSettingsModal > div > div > div.modal-body > div > div{
    border-right: 1px solid darkgray;
    margin: 10px 0px;
}
#GroupSettingsModal > div > div > div.modal-body > div > div> div{
    margin: 20px 0px 20px;
}
#GroupSettingsModal > div > div > div.modal-body > div > div:nth-child(3){
    border-right: unset;
}
#GroupSettingsModal > div > div > div.modal-body > div:nth-child(3){
    flex-direction: column;
}
#GroupSettingsModal > div > div > div.modal-body > div.col-12 > h5{
    margin: 20px 0px;
}
#GroupSettingsModal > div > div > div.modal-body > div:nth-child(3) > div{
    border: none;
}
#GroupSettingsModal > div > div > div.modal-body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2){
    right: 40px;
    border: 1px solid;
}
#GroupSettingsModal > div > div > div.modal-body > div:nth-child(3) > div:nth-child(1) > div.col-6.row.ng-scope > div.col-5{
    font-size: 20px;
}
.table-responsive{
    position: absolute;
    margin-top: 50px;
    height: 300px;
}
.user_groups_individuals{
    border: solid 1px #9E9E9E ;
    box-shadow: none;
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -15px;
}
.user_groups_individuals.active{
    border: solid 1px #71d0f8 !important;
    box-shadow: 0 0 10px #71d0f8  !important;
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -15px;
}
.group_h3{
    margin-top: 15px;
}
#select_all{
    text-align: center;
}


nav::-webkit-scrollbar {
    width: 7px;
}
nav::-webkit-scrollbar-button {
    background: #eee
}
nav::-webkit-scrollbar-track-piece {
    background: #eee
}
nav::-webkit-scrollbar-thumb {
    background: lightgray;
}

.unic_link{
    color:#a9a9a9;
}

.unic_link:hover{
    text-decoration: none;
    color:#a1a1a1;
}

.unic_link i{
    color:#3FBFF5;
}

.cursor_pointer{
    cursor: pointer;
}