.header{

    box-shadow: 0px 15px 10px -17px #71d0f8;
}

header .hea-logo{
	margin-left: 30px;
    width: 214px;
}

header nav{
	
}

header nav a{
	color: #6c6f73;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

 nav a:hover,
 nav a.active,
 nav a.disabled {
    color: #3fbff5 !important;
    transition: 0.3s;
}

header .hea-notification {
    width: 8px;
    height: 8px;
    background-color: #d60f24;
    position: absolute;
    border-radius: 4px;
    float: left;
}
header .hea-avatar{
	display: table;
	height: 65px;
    padding-top: 20px;
}

.hea-avatar span{
	color: #6c6f73;
	font-size: 18px;
	display: flex;
    cursor: pointer;
	vertical-align: middle;
	text-align: center;
    position: absolute;
    right: 60px;
}

.logout-box {
    width: 175px;
    height: 80px;
    position: absolute;
    box-shadow: 5px 0px 25px #8e8c8b;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    z-index: 999;
    border-radius: 2px;
    margin-left: 0;
}
.logout-box-small{
    margin-left: -120px;
}

.logout-box p {
    text-align: center;
    color: #929497;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.logout-box a:hover {
    text-decoration: none;
    background-color: #2bcaff;
}

.logout-box a {
    background-color: #74DCFF;
    border: 0;
    width: 65px;
    height: 25px;
    color: #fff;
    transition: 0.5s;
    font-size: 15px;
    padding: 5px 10px;
}

.logout-box .arrow-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    margin-top: -10px;
    float: right;
    margin-left: 45px
}

.icon_log_out_icon {
    background-image: url(../../images/icons/log_out_icon.svg);
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-size: cover;
}

#confirmationBox{

}

#confirmationBox .modal-footer{
	border: 0px;
}

#confirmationBox .modal-content{
	border-radius: 0;
	border: 1px solid #ececed; 
	color: #57595c;
    font-size: 25px;
}

#confirmationBox .cb-cancel{
	width: 160px;
    color: #ffffff;
    font-size: 22px;
    background-color: #d92f4e;
}
#confirmationBox .cb-accept{
	width: 160px;
    color: #ffffff;
    font-size: 22px;
    background-color: #74ddff;
}
.header_logo {
    height: 56px;
    margin-top: 10px;
}
.header_logo_small{
    height: 36px;
    margin-top: 20px;
}
.user_info_cell {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #6c6f73;
}
.center {
    margin: 0 auto;
}
#HeaderMenu {
    text-transform: uppercase;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*scrollbar */

html::-webkit-scrollbar {
    width: 20px;
}
html::-webkit-scrollbar-button {
    background: #eee;

}
html::-webkit-scrollbar-track-piece {
    background: #eee;

}
html::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border: solid 1px lightgray;
    background-position-y: 50%;
    background-image: url(../../images/icons/scroll-big.svg);
    background-repeat: no-repeat;
}​

/* end scroll bar css*/
