/* Circle's animations */

/* Show action button at the center of the page by Animating it's borders to fill */
@-webkit-keyframes dash_fill {
    0% {
        stroke-dasharray: 0, 1000;
        stroke-dashoffset: 10px;
    }
    100% {
        stroke-dasharray: 270%, 1000;
    }
}
@keyframes dash_fill {
    0% {
        stroke-dasharray: 0, 1000;
        stroke-dashoffset: 10px;
    }
    100% {
        stroke-dasharray: 270%, 1000;
    }
}
.ani_circle_fill {
    -webkit-animation: dash_fill 1s;
    animation: dash_fill 1s;
    stroke-dashoffset: 0;
    animation-fill-mode: forwards;
}
/* ------------------------------------------------------------------------------ */

/* Hide action button at the center of the page by Animating it's borders to unfill */
@-webkit-keyframes dash_unfill {
    0% {
        stroke-dasharray: 270%, 1000;
    }
    100% {
        stroke-dasharray: 0, 1000;
        stroke-dashoffset: 10px;
    }
}
@keyframes dash_unfill {
    0% {
        stroke-dasharray: 270%, 1000;
    }
    100% {
        stroke-dasharray: 0, 1000;
        stroke-dashoffset: 10px;
    }
}
.ani_circle_unfill {
    -webkit-animation: dash_unfill 1s;
    animation: dash_unfill 1s;
    stroke-dashoffset: 0;
    animation-fill-mode: forwards;
}
/* -------------------------------------------------------------------------------- */

/* ------------------- */