/* Slide apart two circles */

/* Circle one */
@-webkit-keyframes circle_1_move_1 {
    0% {
        right: 50%;
    }
    100% {
        right: 58%;
    }
}
@keyframes circle_1_move_1 {
    0% {
        right: 50%;
    }
    100% {
        right: 58%;
    }
}
.ani_circle_1_left {
    -webkit-animation: circle_1_move_1 1s;
    animation: circle_1_move_1 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes circle_1_move_2 {
    0% {
        right: 58%;
    }
    100% {
        right: 50%;
    }
}
@keyframes circle_1_move_2 {
    0% {
        right: 58%;
    }
    100% {
        right: 50%;
    }
}
.ani_circle_1_right {
    -webkit-animation: circle_1_move_2 1s;
    animation: circle_1_move_2 1s;
    animation-fill-mode: forwards;
}
/* ---------- */

/* Circle two */
@-webkit-keyframes circle_2_move_1 {
    0% {
        right: 50%;
    }
    100% {
        right: 42%;
    }
}
@keyframes circle_2_move_1 {
    0% {
        right: 50%;
    }
    100% {
        right: 42%;
    }
}
.ani_circle_2_right {
    -webkit-animation: circle_2_move_1 1s;
    animation: circle_2_move_1 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes circle_2_move_2 {
    0% {
        right: 42%;
    }
    100% {
        right: 50%;
    }
}
@keyframes circle_2_move_2 {
    0% {
        right: 42%;
    }
    100% {
        right: 50%;
    }
}
.ani_circle_2_left {
    -webkit-animation: circle_2_move_2 1s;
    animation: circle_2_move_2 1s;
    animation-fill-mode: forwards;
}
/* ---------- */

/* ----------------------- *