/* Diagonal Animation */

/* Slide user's picture from the center of the page to top-right corner */
@-webkit-keyframes diagonal-slide {
    0% {
        /* No styles so far */
    }
    /* 50%  {background-color: blue;} */
    100% {
        right: 30px;
        top: 20px;
        transform: none;
    }
}

@keyframes diagonal-slide {
    0% {
        /* No styles so far */
    }
    /* 50%  {background-color: blue;} */
    100% {
        right: 30px;
        top: 20px;
        transform: none;
    }
}

.start_diagonal_ani {
    -webkit-animation: diagonal-slide 1s;
    animation: diagonal-slide 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* Prevent animation form resetting when done */
    position: absolute;
    margin: 0px;
}
/* -------------------------------------------------------------------- */

/* ------------------ */