/* Modal window animations */

/* Show modal window with message at the bottom of the page */
@-webkit-keyframes show_modal {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0px;
        transform: none;
    }
}

@keyframes show_modal {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0px;
        transform: none;
    }
}

.show_modal_ani {
    -webkit-animation: show_modal 1s;
    animation: show_modal 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* Prevent animation form resetting when done */
    margin: 0px;
    display: block;
}
/* -------------------------------------------------------- */

/* Hide back modal window with message at the bottom of the page */
@-webkit-keyframes hide_modal {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0px;
        transform: none;
    }
}

@keyframes hide_modal {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -150px;
        display: none;
        transform: none;
    }
}

.hide_modal_ani {
    -webkit-animation: hide_modal 1s;
    animation: hide_modal 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* Prevent animation form resetting when done */
    margin: 0px;
    display: block;
}
/* ------------------------------------------------------------- */

/* ----------------------- */