/* User Info slide animations */

/* Users info text Slide in at the top-right corner of the page */
@-webkit-keyframes userinfo_slidein {
    0% {
        right: -120px;
    }
    100% {
        right: 0px;
        transform: none;
    }
}
@keyframes userinfo_slidein {
    0% {
        right: -120px;
    }
    100% {
        right: 0px;
        transform: none;
    }
}
.start_slidein_ani {
    -webkit-animation: userinfo_slidein 1s;
    animation: userinfo_slidein 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* Prevent animation form resetting when done */
    position: relative;
    margin: 0px;
    display: block;
}
/* ------------------------------------------------------------ */

/* Users info text Slide back out at the top-right corner of the page */
@-webkit-keyframes userinfo_slideout {
    0% {
        right: 0px;
    }
    100% {
        right: -120px;
        transform: none;
    }
}
@keyframes userinfo_slideout {
    0% {
        right: 0px;
    }
    100% {
        right: -120px;
        transform: none;
        display: none;
    }
}
.start_slideout_ani {
    -webkit-animation: userinfo_slideout 1s;
    animation: userinfo_slideout 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* Prevent animation form resetting when done */
    position: relative;
    margin: 0px;
}
/*
.slide_start_state {
    right: -120px;
}
*/
/* ------------------------------------------------------------------ */

/* -------------------------- */