html {
    background: url("../../images/quick/bg_1.jpg") no-repeat center center fixed;
    background-size: cover;
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.numpad_fadein {
    -webkit-animation: fade_in 1s;
    animation: fade_in 1s;
    animation-fill-mode: forwards;
}

/* Numpad alignments and responsive */
.numpad_container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 18.5vw;
    min-width: 256px;
    z-index: 98;
}
.pin_inp_fld { /* Pincode input field */
    width: 100%;
    min-width: 254px;
    height: 5vw;
    min-height: 70px;
    background: none;
    border: none;
    margin: -8px 0vw 0px 0px;

    font-size: 3vw;
    letter-spacing: 8px;
    text-align: center;
    color: #fefefe;
}
.pin_inp_div { /* Pincode input field container */
    height: 5vw;
    min-height: 70px;
    background: rgba(255, 255, 255, 0.25);
    border: solid 5px rgba(216, 232, 239, 0.75);
    margin: 0px 0vw 5px 0px;
    padding: 0px;
}
.numpad_btn {
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
    border: none;
    margin: 0px;
}
.numpad_btn_ok {
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
    border: none;
    margin: 0px;
}
.num_butt_div {
    width: 6vw;
    min-width: 83px;
    float: left;
}
.num_butt_ok_div {
    width: 6vw;
    min-width: 83px;
    float: left;
}
.spacer_1 {
    width: 0.25vw;
    min-width: 3px;
    height: 70px;
    float: left;
    margin: 0px;
    padding: 0px;
    display: block;
}
.spacer_2 {
    width: 18.5vw;
    min-width: 255px;
    /*height: 0.25vw;*/
    /*min-height: 3px;*/
    display: table;
}
/* -------------------------------- */

/* User's picture styles */
.pin_title {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Segoe UI";
    font-size: 3vw;
}
.user_pic {
    width: 8vw;
    min-width: 100px;
    margin: 0px auto;
    border-radius: 50%;
    display: block;
}
.ani_circle {
    display: block;

    stroke: #FFF;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: 270%, 1000px;
    stroke-dashoffset: 0px;
}
.ani_circle_SVG {
    height: 10vw;
    min-height: 125px;
    width: 10vw;
    min-width: 125px;
}
.corner_pos {
    position: absolute;
    right: 30px;
    top: 20px;
}
/* --------------------- */

/* Double circles */
.static_circle {
    display: block;

    stroke: #FFF;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: 270%, 1000;
    stroke-dashoffset: 0px;
}
.static_circle_SVG {
    height: 10vw;
    min-height: 125px;
    width: 10vw;
    min-width: 125px;
}
/* -------------- */

/* Action Buttons's styles */
.action_butt {
    width: 8vw;
    height: 8vw;
    min-width: 100px;
    min-height: 100px;

    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 50%;

    display: block;
}
.action_butt:hover {
    background: rgba(255, 255, 255, 0.15);
}
.action_butt_txt {
    color: #FFFFFF;
    font-family: "Segoe UI";
    font-size: 1.3vw;
}
/* ----------------------- */

/* User's info styles */
.user_info {
    text-align: right;
    position: absolute;
    right: 0px;
    top: 15px;
}
.user_info_pos {
    width: 12vw;
    min-width: 150px;
}
.users_name {
    color: #FFFFFF;
    font-family: "Segoe UI";
    font-size: 2vw;
}
.users_position {
    color: #FFFFFF;
    font-family: "Segoe UI";
    font-size: 1.3vw;
}
.sign_out_txt {
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-size: 1.7vw;
}
/* ------------------ */

/* Modal's style */
.modal_div {
    overflow-y: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.modal_content {
    height: 100px;
    width: 27vw;
    min-width: 350px;
    padding: 25px;
    background-color: #FFF;
}
.modal_txt {
    font-family: "Segoe UI";
    font-size: 2vw;
    color: #006999;
}
.white_bg {
    background-color: #FFF;
}
/* ------------- */

/* Utility styles */
.hide {
    display: none;
}
.show {
    display: block;
}
.pointer {
    cursor: pointer;
}
.position_centered {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.show_on_top {
    z-index: 99;
}
.send_to_back {
    z-index: 1;
}

/* -------------- */

*{
    margin: 0 auto;
}

.header{
    text-align: center;
    background: #f7f7f7;
}

.header_logo{
    height: 56px;
    margin-top: 5px;
}

footer{
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
    bottom:0;
    background-color: #f7f7f7;
}

.width-50{
    width:50%;
    float: left;
}

.jamps_logo_1{
    height: 25px;
    padding: 10px;
}

.f-right{
    text-align: right;
}

@media(max-width: 768px){
    .jamps_logo_1{
        height: 15px;
    }

    .header_logo{
        height: 36px;
    }
}