.rep-st{
    margin-top:3px;
    background: #fff;
    padding-bottom: 50px;
}

.rep-st .menu{
    height:400px;
    margin: 20px 0;
    padding-top: 50px;
    border-right: 2px solid #e7e7e8;
}

.rep-st .menu a{
    color:#b9babd;
    display: block;
    padding:0 3px;
    cursor:pointer;
}

.rep-st .menu .active, .rep-st .menu a:hover{
    background: #e8e6e5;
    color:#74ddff;
}

.none-bold{
    font-weight: 400;
}

.rep-st .usersGroup{
    padding: 20px;
    color:#818285;
    height: 450px;
    overflow: auto;
}

.rep-st .usersGroup table{
    cursor:pointer;
}

.search-report-div{
    padding: 15px 10px;
}

.searchInput{
    width: 110px;
    height: 25px;
    margin-left: 20px;
}

.input-height{
    height: 26px;
    padding: 0 5px;
}

.word-search{
    color:#8384a5;
}

.m-t-20{
   margin-top:20px;
}

.rep-st table thead{
    cursor: auto;
}

.rep-st table thead tr{
    color:#a7a9ac;
}

.rep-st table tbody tr {
    color: #818285;
}

.rep-st table tbody tr td{
    padding:6px 12px;
}


.rep-st table thead .icon-arrow:before{
    cursor:pointer;
    display: block;
}

.arrows{
    display: inline-block;
    position: relative;
    top: 7px;
}

.arrow-down:before{
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrows span:before{
    font-size:12px;
}

.active-arrow:before{
  color:#74ddff
}

.m-t-55{
    margin-top:20px;
}

.report-btn{
    background: #74ddff;
    color:#fff;
    padding:5px 20px;
    display: inline-block;
    font-size: 34px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center{
    text-align: center;
}

.custom-control-input:checked~.custom-control-label::before{
    color: #74ddff !important;
    border-color: #ccc !important;
    background-color: #fff !important;
}


.daterangepicker {
    position: fixed !important;
    bottom:90px !important;
    top:unset !important;
}

.menu-type-div span.menu-type-active, .menu-type-div{
    color:#818285;
}

.menu-type-div{
    margin-left: 40px;
    display: inline-block;
}

.pay-period{
    position: relative;
    left: -15px;
    display: inline-block;
}

.inline-block{
    display: inline-block;
}

.gj-datepicker{
    display: inline-flex;
    width:130px;
}

.menu-type-div span{
    color:#818285;
    margin-right: 5px;
    cursor:pointer;
}

.icon-list-picker{
    display: inline-block;
    margin-left: 30px;
}

.datepicker{
    padding: 5px;
}


input#datepicker{
    height:26px;
    background: #fff;
    border-radius:0;
}

.callendar-footer-small{
    width: 200px !important;
}

.footer-or-word{
    margin-right: 10px;
    margin-left: 10px;
}


.input-group-addon {
    border:1px solid #ced4da !important;
    height:26px;
    padding:1px 0 1px 5px;
    border-left: 0 !important;
    border-radius:0 !important;
}

.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


.glyphicon-calendar:before{
    content:'\0041';
    color:#74ddff;
    font-size:13px;
    font-weight: bold;
}

.box-view{
    display: none;
}

.box-view .box-view-row{
    height: 500px;
}

.person-image{
    width:100%;
    border:1px solid #ced4da;
}

.person-info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-view .username {
    color: #3fbff5;
    margin-bottom: 0;
}

.box-view .title-user, .box-view .position-user, .box-view .from-user{
    font-size:13px;
    display: block;
    line-height: 1.1;
}

.m-t-r-l-20{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
}

.box-view .menu-type-div span{
    margin-left: 10px;
}

.btn-report{
    cursor:pointer;
}

.m-t-2{
    margin-top: 2px;
}

.m-l-85{
    margin-left: 85px;
}

.m-l-35{
    margin-left: 35px;
}

.selection-full{
    margin-top: 15px;
}

.group_by{
    color:#6d6e70;
}

.p-t-70{
    padding-top: 70px;
}

.m-b-10{
    margin-bottom: 10px;
}

.p-70-35{
    padding: 70px 35px;
}

.m-b-0{
    margin-bottom: 0;
}

.employees{
    background: #d1d2d4;
    color:#fff;
    margin-left: 10px;
    padding: 3px 2px;
}

.employees_date{
    margin-left:-5px;
    padding: 3px 25px;
}

.selection-full .group_by_active{
    background: #70d0f8;
}

.sort_by{
    margin-left: 15px;
    color: #6d6e70;
}

.right-border{
    border-right:1px solid #d1d2d4;
}

.selection-full .arrows{
    width: 15px;
    vertical-align: middle;
    top:0;
    line-height: 1;
}

.selection-full .arrows span{
    line-height: 1;
}
.print-btn, .download-btn, .exel-btn{
    color:#3fbff5;
    font-size:20px;
}

.icon-exel{
    background: url("../../images/icons/icon_exel.svg");
    color:#3fbff5 ;
    font-size:26px;
}

@media (min-width: 991px) {
    .modal-dialog{
        max-width: 560px;
    }
}
@media (min-width: 1200px) {
    .container-build{
        width:90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.btns-print-download{
    vertical-align:middle;
    display: inline-block;
    float: right;
}

.download-btn, .print-btn{
    margin-right: 10px;
}

.display-inline-block{
    display: inline-block;
    padding: 10px 15px;
}

.display-inline-block .float-right{
    margin-left: 50px;
}


.display-inline-block .btns-print-download {
    margin-left: 50px;
}

.info-color{
    color:#3fbff5 !important;
}


.selection-full .clolor_info{
    color: #3fbff5;
}

.thead-div-1{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
}

.color-blue-span{
    color:#3fbff5;
}

.padding-10-10{
    padding:10px 5px;
}




.info-tr{
    font-size:18px;
}

.pencil-a{
    color:#a7a9ac;
}

.checkbox-style{
    width:15px;
    height: 15px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../../images/icons/check.svg');
}

.custom-checkbox{
    margin-right: 0;
}

.selection-full .custom-control-inline{
    vertical-align: sub;
}

.selection-full .extratime .custom-control-inline{
    vertical-align: bottom;
}


.fade:not(.show){
    opacity: 1;
    background:rgba(192, 192, 192, 0.5);
}

.border-left-orange{
    border-left: 5px solid #f4d160;
}

.modal-content{
    border-radius: 10px;
}

.close-modal{
    color: #df4d69;
    font-size: 30px;
    font-weight: bolder;
}

.user-log-modal{
    color:#666;
}

.user-info{
    color:#a6a8ab;
    font-weight: bold;
}

button.close{
    opacity: 1;
}

.user-info-radius{
    border-radius: 5px;
}

.border-gray{
    border:1px solid #c0c0c3;
}

@media (min-width: 1200px) {
    .user-info-modal {
        max-width:900px;
    }
}

.user-info-image{
    width:150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.modal-username{
    color:#76deff;
    font-weight: 500;
    margin-bottom: 5px;
}

.modal-position{
    color:#b0abbb;
    font-weight: 400;
}

.modal-username span, .modal-position span{
    display: block;
    text-align: center;
}

.image-div{
    height: 150px;
    overflow: hidden;
    margin: 15px auto;
}

.image-vew{
    width: 150px;
    height: 150px;
    border:1px solid #d3d5d6;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.modal-username::before {
    content: '';
    position: absolute;
    left: 0px;
    border: 10px solid transparent;
    border-left: 10px solid #74dcff;
}

.bg-light-blue{
    background-color: #e3f8ff;
}

.m-t-30{
    margin-top:30px;
}

.font-size-14{
    font-size: 14px;
}

.details-user-info{
    color: #afa9ab;
    padding: 3px 0 3px 5px;
    display: block;
    border-radius: 5px;
}

.border-right-light-blue{
    border-right:2px solid #d5f4ff;
}

.log-username{
    color:#81cbf1;
    font-weight: 400;
    font-size:20px;
}

.log-border-bottom{
    border-bottom:1px solid #c4c4c4;
}

.log-border-bottom-dark{
    border-bottom:1px solid #a9a9a9;
}

.log-from-to{
    color:#86848e
}

.log-from-to img{
    width: 20px;
}

.margin-0-20{
    margin: 0 20px;
}

.m-t-10{
     margin-top:10px;
 }

.m-t-20{
    margin-top:20px;
}

.p-b-10{
    padding-bottom:10px;
}



.sm{
    font-size:13px;
}

.bg-gray{
    background:#f2f2f2;
    font-size: 24px;
    padding: 15px 15px;
}

.color-dark-gray{
    color:#818285;
}

.sorting_line{
    border-bottom: 1px solid #a7a9ac;
    color:#6d6e70;
}

.selection_color{
    color:#756e71;
    font-size:16px;
    border-bottom:1px solid #ccc;
    margin-top:30px;
}

.groyp_by_date .selection_color{
    margin-top:0px;
}

.extratime{
    display:inline-block;
    font-size:14px;
}

.right{
    text-align: right;
}

.p-r-10{
    padding-right:10px;
}

.p-r-20{
    padding-right:20px;
}

.extratime-right-line{
    border-right:1px solid #3fbef4;
}

.border-none{
    border:none;
}

.selection-day-times .card-body{
    padding: 0;
}

.card{
    color:#756e71
}

.padding-10-0{
    padding: 10px 0;
}

.padding-10-0-0{
    padding: 10px 0 0;
}

.p-l-15{
    padding-left: 15px;
}

#triangle-right {
    border: 10px solid transparent;
    border-left: 10px solid #74ddff;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.employees_style{
    padding: 3px 10px;
}

.cursor-pointer{
    cursor: pointer;
}

.disabled-log{
    color:#a9abad !important;
}

.log-day{
    color:#52c8f0;
}

.log-border-right-dark{
    border-right:1px solid #a9a9a9;
    margin: 3px 0;
}

.left-text{
    text-align:left;
}

.margin-0-10{
    margin: 0 10px;
}

.b-t-1-ccc{
    border-top:1px solid #ccc;
}

.b-r-1-ccc{
    border-right:1px solid #ccc;
}
.b-l-1-ccc{
    border-left:1px solid #ccc;
}

.p-l-0{
    padding-left: 0;
}

.b-b-1-ccc{
    border-bottom:1px solid #ccc;
}

.group_by_style{
    background: #d1d2d4;
    color: #fff;
}
.menu-type-div
.min-width-80{
    min-width:80px;
    display: inline-block;
}

.default-blue-color{
    color:#81cbf1;
    font-size:15px;
}

.edit-by-log{
    color: #666;
}

#datepicker{
    font-size: 14.5px;
    width: 190px;
    height: 25px;
    margin-left: 20px;
}

.calendar-img{
    width: 16px;
    position: relative;
    left: -20px;
    top: -2px;
}

.opensleft{
    top:120px !important;
    bottom: auto !important;
}





/* PRELOADER START */
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
/* PRELOADER END */